/* PHASE 8: Thumbs */
.profile-friends {
  display: flex;
  flex-wrap: wrap;
}
.profile-friends > li {
  width: 60px;
  /*height: 60px;*/
  margin: 0 0 10px 0;
}
.thumb {
  display: block;
  position: relative;
  width: 55px;
  height: 55px;
  border: 1px solid #000;
  border-radius: 5px;
}

.profile-friends > li:nth-child(3n-1) {
  /*content: " (" attr(herf)") ";*/
  margin: 0 10px 10px 10px;
}
