/* PHASE 2: Notifications */

 .badge {
   background: #000;
   border-radius: 50%;
   display: inline-block;
   font-size: 14px;
   padding: 3px 8px;
 }

 .header {
   position: relative;
   z-index: 1;
 }

 li:hover .badge {
   background: #f00;
 }

 .drop-down {
   display: none;
   position: absolute;
   background: #fff;
   /*color: black;*/
   width: 240px;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   font-size: 14px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   white-space: nowrap;
   /*overflow: hidden;*/
 }

 li:hover > .drop-down {
   display: block;
 }

 .drop-down > li {
   border-top: 1px solid #ccc;
   color: #000
 }

 .drop-down > li:hover {
   background: #eee;
 }
